.container {
}

.button {
  filter: grayscale(1);
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: #fff;
  height: 80px;

  &:hover {
    filter: grayscale(0);
    cursor: pointer;
  }

  transition: filter 0.2s ease-in-out;
}

.icon {
  height: 64px;
  width: auto;
}

.button-text {
  font-size: 24px;
}
